<div class="root_register">
    <button type="button" class="btn-router-register btn btn-primary" [routerLink]="['/login']"><i
            class="fas fa-backward"></i></button>
    <form #forma="ngForm" (ngSubmit)="submit(forma)" autocomplete="off">
        <div class="form-group" [ngClass]="{'has-success': name.valid&&name.touched,'has-danger':name.invalid&&name.touched}">
            <label for="inputName">Nombre :</label>
            <input type="text" name="name" #name="ngModel" class="form-control" id="inputName" required [(ngModel)]="data.name" [ngClass]="{'is-valid': name.valid&&name.touched,'is-invalid':name.invalid&&name.touched}">
        </div>
        <div class="form-group" [ngClass]="{'has-success': lastName.valid&&lastName.touched,'has-danger':lastName.invalid&&lastName.touched}">
            <label for="inputLastName">Apellido :</label>
            <input type="text" class="form-control" #lastName="ngModel" id="inputLastName" name="lastName" required [(ngModel)]="data.lastName" [ngClass]="{'is-valid': lastName.valid&&lastName.touched,'is-invalid':lastName.invalid&&lastName.touched}">
        </div>
        <div class="form-group" [ngClass]="{'has-success': email.valid&&email.touched,'has-danger':email.invalid&&email.touched}">
            <label for="inputEmail">Email :</label>
            <input type="email" class="form-control" #email="ngModel" id="inputEmail" aria-describedby="emailHelp" name="email" required minlength="6" [(ngModel)]="data.email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                [ngClass]="{'is-valid': email.valid&&email.touched,'is-invalid':email.invalid&&email.touched}">
            <small id="emailHelp" class="form-text text-muted">Sera usado como su usuario.</small>
        </div>

        <div class="form-group" [ngClass]="{'has-success': role.valid&&role.touched,'has-danger':role.invalid&&role.touched}">
            <label for="selectRole">Rol :</label>
            <select name="role" #role="ngModel" id="selectRole" [(ngModel)]="data.role" class="form-control" required>
                <option value="USER_ROLE">Usuario normal</option>
                <option value="ADMIN_ROLE">Creador de contenido</option>
            </select>
        </div>

        <div class="form-group" [ngClass]="{'has-success': age.valid&&age.touched,'has-danger':age.invalid&&age.touched}">
            <label for="numberAge">Edad :</label>
            <input type="number" #age="ngModel" id="numberAge" name="age" [(ngModel)]="data.age" min="15" max="90" class="form-control" required>
        </div>

        <div class="form-group" [ngClass]="{'has-success': password.valid&&password.touched,'has-danger':password.invalid&&password.touched}">
            <label for="inputPassword">Contraseña :</label>
            <input type="password" #password="ngModel" class="form-control" id="inputPassword" name="password" required minlength="6" [(ngModel)]="data.password" [ngClass]="{'is-valid': password.valid&&password.touched,'is-invalid':password.invalid&&password.touched}">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck" name="policy" [(ngModel)]="policy">
            <label class="form-check-label" for="exampleCheck">Aceptas los t&eacute;rminos y condiciones</label>
        </div>
        <button [disabled]="forma.invalid||!policy" type="submit" class="btn btn-primary btn-block">Register</button>
    </form>

</div>